<%- include('partials/header') -%>
<div class="container mx-auto">
    
  <div class="m-6">
    <%- include('partials/post1', {user: user}) -%>
    <div class="container center">
        <%- include('partials/stat', {user: user}) -%>
    </div>
    <div class="divider invisible"></div>
    <div class="flex justify-center">
      <div class="-mx-0">
        <a href="/logout" class="btn btn-secondary">Logout</a>
      </div>
  </div>
  <div class="divider"></div>
  <%- include('partials/profilefeed', {jokes: jokes, user: user}) -%>
</div>
<%- include('partials/footer') -%>